body {
    margin: 0px;
}
/*Navigation Bar*/
.nav ul{
    list-style-type: none;
    height: 70px;
    padding: 0px;
    margin-bottom: 1.5px;
    background-color: rgb(61, 61, 61);
}
.nav ul li~li{
    width: fit-content;
    padding-right: 40px;
    float: right;
}
.nav ul li a{
    display: block;
    width: fit-content;
    font-size: 20px;
    padding: 20px 20px 40px 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.nav ul li~li a:hover{
    background-color: rgb(143, 143, 143);
    color: white;
}
.nav ul li~li a:active{
    background-color: white;
    color: black;
}
/*Top Main Page*/
.mainPage{
    height: fit-content;
    height: 92%;
    background-color: brown;
}
.mainPage ul{
    padding: 17% 0% 0% 7%;
    list-style-type: none;
}
.mainPage ul li{
    float: left;
    font-size: 950%;
    padding: 0% 0% 0% 4%;
    width: fit-content;
    color: rgb(255, 255, 255);
}
.mainPage ul li:hover{
    transition: all 0.1s ease-out;
    transform: scale(1.2,  1.2);
}