div.Club ul{
    list-style-type: none;
    text-align: center;
    margin-bottom: 120px;
    margin-top: 0px;
    display: inline-block;
}
div.Club ul li{
    float: left;
    margin-left: 9%;
    margin-right: 4%;
    margin-top: 150px;
}
div.Club ul li img{
    height: 150px;
    padding: 10% 25%;
    background-color: rgb(129, 129, 129);
}
div.Club ul li span{
    display: block;
    margin-top: 30px;
    font-size: 40px;
    width: 250px;
    height: fit-content;
}
div.Club ul li a{
    color: #000;
    text-decoration: none;
}
div.Club ul li:hover{
    transition: all 0.1s ease-out;
    transform: scale(1.1,  1.1);
}