@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
pre{
    font-family: 'Poppins';
}
a{
    font-family: 'Poppins';
}
p{
    font-family: 'Poppins';
}
span{
    font-family: 'Poppins';
}
h1{
    font-family: 'Poppins';
}