.footer{
    float: left;
	-o-float: left;
	-ms-float: left;
	-moz-float: left;
	-webkit-float: left;
    height: 100px;
	-o-height: 100px;
	-ms-height: 100px;
	-moz-height: 100px;
	-webkit-height: 100px;
    width: 100%;
	-o-width: 100%;
	-ms-width: 100%;
	-moz-width: 100%;
	-webkit-width: 100%;
    margin-top: 2px;
	-o-margin-top: 2px;
	-ms-margin-top: 2px;
	-moz-margin-top: 2px;
	-webkit-margin-top: 2px;
    padding-top: 50px;
	-o-padding-top: 50px;
	-ms-padding-top: 50px;
	-moz-padding-top: 50px;
	-webkit-padding-top: 50px;
    padding-bottom: 60px;
	-o-padding-bottom: 60px;
	-ms-padding-bottom: 60px;
	-moz-padding-bottom: 60px;
	-webkit-padding-bottom: 60px;
    height: fit-content;
	-o-height: fit-content;
	-ms-height: fit-content;
	-moz-height: fit-content;
	-webkit-height: fit-content;
    background-color: rgba(61, 61, 61, 0.900);
	-o-background-color: rgba(61, 61, 61, 0.900);
	-ms-background-color: rgba(61, 61, 61, 0.900);
	-moz-background-color: rgba(61, 61, 61, 0.900);
	-webkit-background-color: rgba(61, 61, 61, 0.900);
}
.footer a{
    display: block;
	-o-display: block;
	-ms-display: block;
	-moz-display: block;
	-webkit-display: block;
    text-align: center;
	-o-text-align: center;
	-ms-text-align: center;
	-moz-text-align: center;
	-webkit-text-align: center;
    width: 100%;
	-o-width: 100%;
	-ms-width: 100%;
	-moz-width: 100%;
	-webkit-width: 100%;
    text-decoration: none;
	-o-text-decoration: none;
	-ms-text-decoration: none;
	-moz-text-decoration: none;
	-webkit-text-decoration: none;
    color: rgb(206, 206, 206);
	-o-color: rgb(206, 206, 206);
	-ms-color: rgb(206, 206, 206);
	-moz-color: rgb(206, 206, 206);
	-webkit-color: rgb(206, 206, 206);
    font-size: 15px;
	-o-font-size: 15px;
	-ms-font-size: 15px;
	-moz-font-size: 15px;
	-webkit-font-size: 15px;
}
.footer a:hover{
    color: brown;
	-o-color: brown;
	-ms-color: brown;
	-moz-color: brown;
	-webkit-color: brown;
}
.footer p{
    color: rgb(206, 206, 206);
	-o-color: rgb(206, 206, 206);
	-ms-color: rgb(206, 206, 206);
	-moz-color: rgb(206, 206, 206);
	-webkit-color: rgb(206, 206, 206);
    width: 100%;
	-o-width: 100%;
	-ms-width: 100%;
	-moz-width: 100%;
	-webkit-width: 100%;
    font-size: 15px;
	-o-font-size: 15px;
	-ms-font-size: 15px;
	-moz-font-size: 15px;
	-webkit-font-size: 15px;
    text-align: center;
	-o-text-align: center;
	-ms-text-align: center;
	-moz-text-align: center;
	-webkit-text-align: center;
}