.Intro{
    height: 100%;
	-o-height: 100%;
	-ms-height: 100%;
	-moz-height: 100%;
	-webkit-height: 100%;
    width: 100%;
	-o-width: 100%;
	-ms-width: 100%;
	-moz-width: 100%;
	-webkit-width: 100%;
    display: flex;
	-o-display: flex;
	-ms-display: flex;
	-moz-display: flex;
	-webkit-display: flex;
    justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
    align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
    flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
}
.Intro>div{
    float: left;
	-o-float: left;
	-ms-float: left;
	-moz-float: left;
	-webkit-float: left;
    text-align: center;
	-o-text-align: center;
	-ms-text-align: center;
	-moz-text-align: center;
	-webkit-text-align: center;
    display: flex;
	-o-display: flex;
	-ms-display: flex;
	-moz-display: flex;
	-webkit-display: flex;
    justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
    align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
    margin: 0 6.5%;
	-o-margin: 0 6.5%;
	-ms-margin: 0 6.5%;
	-moz-margin: 0 6.5%;
	-webkit-margin: 0 6.5%;
}
.Intro a>img{
    height: 300px;
	-o-height: 300px;
	-ms-height: 300px;
	-moz-height: 300px;
	-webkit-height: 300px;
}
.Intro a{
    display: block;
	-o-display: block;
	-ms-display: block;
	-moz-display: block;
	-webkit-display: block;
    text-decoration: none;
	-o-text-decoration: none;
	-ms-text-decoration: none;
	-moz-text-decoration: none;
	-webkit-text-decoration: none;
    color: black;
	-o-color: black;
	-ms-color: black;
	-moz-color: black;
	-webkit-color: black;
}
.Intro ul{
    list-style-type: none;
	-o-list-style-type: none;
	-ms-list-style-type: none;
	-moz-list-style-type: none;
	-webkit-list-style-type: none;
    padding: 0 0 10px 0;
	-o-padding: 0 0 10px 0;
	-ms-padding: 0 0 10px 0;
	-moz-padding: 0 0 10px 0;
	-webkit-padding: 0 0 10px 0;
    transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-webkit-transition: all 0.1s ease-in;
    transform: scale(1,  1);
	-o-transform: scale(1,  1);
	-ms-transform: scale(1,  1);
	-moz-transform: scale(1,  1);
	-webkit-transform: scale(1,  1);
}
.Intro ul:hover{
    transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	-ms-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-webkit-transition: all 0.1s ease-out;
    transform: scale(1.1,  1.1);
	-o-transform: scale(1.1,  1.1);
	-ms-transform: scale(1.1,  1.1);
	-moz-transform: scale(1.1,  1.1);
	-webkit-transform: scale(1.1,  1.1);
    box-shadow: 5px 5px 200px rgba(0, 0, 0, 0.13);
	-o-box-shadow: 5px 5px 200px rgba(0, 0, 0, 0.13);
	-ms-box-shadow: 5px 5px 200px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 5px 5px 200px rgba(0, 0, 0, 0.13);
	-webkit-box-shadow: 5px 5px 200px rgba(0, 0, 0, 0.13);
    position: relative;
	-o-position: relative;
	-ms-position: relative;
	-moz-position: relative;
	-webkit-position: relative;
    z-index: 1000;
	-o-z-index: 1000;
	-ms-z-index: 1000;
	-moz-z-index: 1000;
	-webkit-z-index: 1000;
}
.Intro ul:hover a{
    color: brown;
	-o-color: brown;
	-ms-color: brown;
	-moz-color: brown;
	-webkit-color: brown;
}