body{
    margin: 0;
}
/*Navigation Bar*/
.nav ul{
    list-style-type: none;
    height: 70px;
    padding: 0px;
    margin-bottom: 1.5px;
    background-color: rgb(61, 61, 61);
}
.nav ul li~li{
    width: fit-content;
    padding-right: 40px;
    float: right;
}
.nav ul li a{
    display: block;
    width: fit-content;
    font-size: 20px;
    padding: 20px 20px 40px 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.nav ul li~li a:hover{
    background-color: rgb(165, 42, 42);
    color: white;
}
.nav ul li~li a:active{
    background-color: white;
    color: black;
}
img.logo{
    content: url("../img/RDFZ_logo.png");
    height: 60px;
    padding-top: 5px;
    padding-left: 20px;
}
img.logo:hover{
    content: url("../img/HOVER_logo.png");
}
/*Top Main Page*/
#mainPage{
    width: 100%;
    height: 92%;
}