.container{
    margin-left: 8%;
    margin-bottom: 80px;
}
.container ul{
    margin: 60px 0px 0px 0px;
    list-style-type: none;
}
.container ul li{
    display: block;
    width: fit-content;
}
.container ul li~li{
    padding-top: 40px;
}
.container ul li a{
    display: block;
    width: fit-content;
}
.container ul li p{
    width: fit-content;
}
.container ul li a img{
    object-fit: cover;
    border-radius: 10px;
    height: 300px;
}
.container a{
    text-decoration: none;
    color: brown;
}